<section class="courses-grid">
  <h2 class="courses-grid__title">Los cursos que ofrecemos</h2>

  <div class="courses-grid__grid">
    <home-course-item
      title="Curso de emprendimiento"
      image="hero1"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
    <home-course-item
      title="Curso de emprendimiento"
      image="course1"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
    <home-course-item
      title="Curso de emprendimiento"
      image="hero3"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
    <home-course-item
      title="Curso de emprendimiento"
      image="hero1"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
    <home-course-item
      title="Curso de emprendimiento"
      image="hero2"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
    <home-course-item
      title="Curso de emprendimiento"
      image="hero3"
    >
      <h3 class="course-item__subtitle">
        Aprende a crear tu propio negocio
      </h3>
      <p class="course-item__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia, voluptatum.
      </p>
    </home-course-item>
  </div>
</section>