<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title">¡Conviértete en un desarrollador de software <span>DESDE CERO</span> y <span>GRATIS</span>! Con Jóvenes crea<span>TI</span>vos</h1>
    <p class="hero__description">¡Programa integral de desarrollo de capacidades para el trabajo y el emprendimiento en <span>TI</span>!</p>
    <img class="hero__decorator" src="/images/decorator.svg" alt="">
    <img class="hero__decorator" src="/images/decorator-2.svg" alt="">
    <img class="hero__decorator" src="/images/decorator-3.svg" alt="">
  </div>
  <div class="hero__images">
    <img class="hero__image" src="/images/hero1.webp" alt="">
    <img class="hero__image" src="/images/hero2.webp" alt="">
    <img class="hero__image" src="/images/hero3.webp" alt="">
    <img class="hero__decorator" src="/images/decorator-1.svg" alt="">
    <img class="hero__decorator" src="/images/decorator-4.svg" alt="">
  </div>
</div>