<header class="layout-main__header">
  <router-outlet name="header" />
</header>

<main>
  <section class="layout-main__hero">
    <router-outlet name="hero" />
  </section>

  <section id="courses" class="layout-main__courses">
    <router-outlet name="courses" />
  </section>

  <section id="about" class="layout-main__about">
    <!-- Sección Acerca de -->
  </section>


  <section id="testimonials" class="layout-main__testimonials">
    <!-- Sección Testimonios -->
  </section>
</main>

<footer id="footer" class="layout-main__footer">
  <router-outlet name="footer" />
</footer>